.landing {
  // display: flex;

  margin-top: 20px;

  .intro {
    margin: 50px 0px;
    height: 600px;
    background: url("./../../assets/images/bg-two.jpg") center center no-repeat fixed;
    background-size: cover;

    .first-line {
      display: flex;
      align-items: baseline;

      p {
        margin: 0px 10px;
        font-size: 20px;
      }
    }

    .welcome {
      margin: 50px;
      font-size: 200px;
      //   color: #463737;
      color: white;
      font-weight: 100;
    }

    @media only screen and (min-width: 600px) {
      // display: flex;

      // justify-content: flex-start;

      h1.second-line {
        color: #7d7d7d;
        font-size: 70px;
      }
    }
  }

  .top-gallery {
    .card {
      padding: 4px;
      //   box-shadow: 0px 0px 10px 10px #e2e2e2;
    }

    .carousel {
      .carousel-item {
        img {
          width: 100%;
        }

        .carousel-caption {
          h3 {
            text-align: left;
          }

          p {
            text-align: left;
          }
        }
      }
    }
  }
}
