.app {
  // display: flex;
  // justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  // align-items: center;
  .content {
    // padding: 10px;
    padding: 10px 6%;
    width: 90%;
  }
}

footer {
  display: flex;
  justify-content: center;
  margin: 30px 0px;

  .footer-content {
    flex-basis: 90%;
    display: flex;
    justify-content: space-between;

    .left {
      img {
        width: 150px;
      }
    }

    .right {
      width: 30%;

      address {
        font-size: 13px;
        color: #93959f;
      }
    }
  }
}

.footer-end {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page-content {
  padding: 20px 0px;
  // border-bottom: 1px solid #f3f3f3;

  h1.page-heading {
    margin: 20px 0px;
    font-size: 50px;
    color: #463737;
  }

  p.page-desc {
    font-size: 18px;
    color: #93959f;

    // font-size: 20px;
    // text-align: justify;
    // line-height: 35px;
  }
}
